* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: YS Text, Open Sans, Helvetica Neue, Arial, sans-serif;
  transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
}

.home-component, .booking-section-container {
  height: 100vh;
  background-image: url("./Images/start.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.booking-section-container {
  background-image: url("./Images/book.png");
}

.greeting-container {
  height: 100%;
}

.great-text {
  position: absolute;
  max-width: 1140px;
  top: 20%;
  left: 5%;
  font-size: 50px;
}

/* General information part */

.general-info-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 70%;
}

h1 {
  align-self: center;
  font-size: 40px;
  margin: 0 auto;
  padding-top: 10px;
  color: white;
}

.general-info-container__location, .rooms-section-container__room-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
  font-size: 22px;
}

.location-img {
  max-width: 750px;
  max-height: 400px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.info-text {
  max-width: 450px;
  align-self: center;
  margin-left: 20px;
  font-size: 18px;
}

.hostel-info-container {
  background-color: black;
  height: 30%;
  color: white;
}

.hostel-info-container__activities-container {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  width: 80px;
  height: 80px;
}

.info-block {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  max-width: 450px;
  font-size: 18px;
  /* align-self: center; */
}

/* Rooms section */

.rooms-section-container {
  height: 100%;
}

.rooms-section-container__room-container {
  color: black;
  justify-content: right;
}

.room {
  width: 600px;
  height: 380px;
  border-radius: 8%;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-border-radius: 8%;
  -moz-border-radius: 8%;
  -ms-border-radius: 8%;
  -o-border-radius: 8%;
  -webkit-box-shadow: 0px 0px 23px 10px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 0px 23px 10px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 23px 10px rgba(0, 0, 0, 0.34);
}

.family {
  justify-content: flex-end;
}

h2 {
  margin-bottom: 10px;
}

.room-info {
  align-self: center;
}

/* Booking section */

.booking-section-container {
  position: relative;
}

.booking-section-container__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  right: 10%;
  width: 300px;
  height: 300px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  background-color: white;
}

.contact {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.contact-icon {
  margin-right: 5px;
}

.book {
  position: absolute;
  right: 2%;
  bottom: 2%;
  width: 80px;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 200px;
  border-color: black;
  background-color: black;
  color: white;
  text-align: center;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  text-decoration: none;
}